 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";


html {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

h1,h2,h3,p {
  margin: 0;
}

.img {
  &--responsive {
    display: block;
    width: 100%;
    height: auto;
  }
}

.container {
  z-index: 1;
  
  &--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 100%;
  }

  &--center {
    align-items: center;
    align-content: center;
  }
}

.header {

  top: -100px;
  
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top .5s ease;
    height: 70px;
    z-index: 100;

    .header__row--top {
      height: 50px;
    }
    .header__item--logo {
      width: 40px;
    }
    .callback {
      position: relative;
      padding-left: 50px;

    }
    .callback__title {
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  &__row {
    background-color: @white;
    
    &--top {
      height: 120px;
    }
    &--menu {
      background-color: @blue;
      position: relative;
      
      height: 50px;

      &:after {
        content: '';
        width: 50%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        background-color: @yellow;
      }
    }
  }

  &__item {
    &--logo {
      width: 60px;
    }

    &--nav {
      width: 50%;
    }

    &--callback {

    }
  }
}

.main {
  &--fixed {
    margin-top: 170px;
  }
}

    

.section {
  padding: 50px 0;
  
  &--slider {
    padding: 0;
  }
  
  &--yellow {
    background-color: @yellow;
  }


  &__header {

  }

  &--about {
    

    .container {
      padding-top: 50px;
      border-top: 1px solid @yellow;
    }
  }


  &__text {
    margin-bottom: 15px;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
    
    &--small {
      font-weight: 200;
      font-size: 12px;

      &.mb {
        margin-bottom: 18px;
      }
    }

    .white {
      color: @white;
    }
  }


  &__title {
    font-family: "RobotoSlab";
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 40px;
    

    &--white {
      color:@white;
      font-size: 24px;
    }

    &--blue {
      color:@blue;
      font-size: 32px;
    } 

    &--yellow {
      color:@yellow;
      font-size: 24px;
    }
  }
}

.link {
  color:@black;
  transition: color 0.3s ease;
  
  &:hover{
    color: @red;
  }
  
}
.navbar {
  &__nav  {
    height: 50px;
    background-color: @blue;
    position: relative;
    
    padding-left: 80px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 25px solid transparent; 
      border-left: 25px solid @yellow; 
    }
    &:after {
      content: '';
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
      margin: auto;
      
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @blue;
    }
  }
}
.nav {
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
  

  &__item {
    display: inline-block;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    
    font-size: 18px;
    font-weight: 200;
    color:#000000;

    transition: color 0.3s ease;

    height: 50px;
    line-height: 50px;

    &:hover {
      color:@blue;
    }
  

    &--white {
      color:@white;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        color:@yellow;
      }      
    }

  }
}


.callback {
  margin-bottom: 30px;

  &--right {
    text-align: right;
    margin-bottom: 0;

    .callback__link {
      margin-bottom: 0;
    }
  }
  
  &__title {
    color: @orange;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__link {
    color:#000000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    display: block;

    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 20px;


    &:hover {
      color: darken(@blue,10%);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &--blue {
      color:@blue;
      line-height: 20px;
    }
  }

  &__name {
    color:@white;
    font-size: 14px;
    margin-left: 20px;
    line-height: 28px;

  }
}

.slider {
  list-style: none;
  padding: 0;
  margin:0;
  &__item {
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  &__desc {
    position: absolute;
    left: 15px;
    top: 150px;
    color: @white;
    width: 300px;
  }

  &__title {
    font-size: 57px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__text { 
    font-size: 18px;
    font-weight: 400;
  }

  &__img {
    position: absolute;
  }
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  margin-left: -15px;
  margin-right: -15px;

  &__item {
    padding: 0 15px;
  }

  &__title {
    color:@white;
    font-weight: 600;
    font-family: "RobotoSlab";
    font-size: 27px;
    margin-bottom: 40px;
    line-height: 30px;
    text-transform: lowercase;

    &--clear {
      height: 30px;
      margin-bottom: 40px;
    }

  }
}

.products {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  &__all {
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: 600;
  }
}
.product {
  width: 25%;
  max-width: 25%;
  padding: 0 15px;
  
  cursor: pointer;
  margin-bottom: 45px;
  &:hover {
    .product__image {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &__image {
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease;


  }

  &__info {
    border-bottom: 1px solid @black;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  &__params {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__desc {
    font-size: 14px;
    font-weight: 200;
  }

  &__weight {
    color:@purple;
    font-weight: 600;
  }

  &__price {
    color:@blue;
  }
}

.storage {
  position: relative;
  padding-left: 45px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--cold:before { background-image: url('../img/icon-cold.png');}
  &--warm:before { background-image: url('../img/icon-hot.png');}
}

.about {
  display: flex;
  justify-content: space-between;


  &__map {
    width: 65%;
  }

  &__info {
    width: 25%;
  }

  &__text {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }


}

.map {
  position: relative;
  padding-top: 50px;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: -40px;
    width: 60px;
    height: 60px;
    background-image: url('../img/icon-worldsides.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


  }
  &__parallax {
    position: relative;
    height: 400px;
  }

  &__layer {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__title {
    position: relative;
    
    margin-bottom: 20px;

    color:@orange;
    text-transform: lowercase;
    font-family: "RobotoSlab";
    font-weight: 600;
    

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 45%;
      height: 1px;
      background-color: @orange;
    }
  }

  &__text {
    color:@orange;
    font-weight: 400;
    font-size: 14px;
    width: 150px;
    margin-bottom: 15px;
  }
  
  &__params {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  
  &--fluger {
    margin: 30px 0;
  }

  &__item {
    margin-bottom: 5px;
    &--param {
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      &:before {
        content: '';
        position: absolute;

        left: 0;
        top: 0;

        width: 15px;
        height: 15px;

      }
    }
  
    &--purple:before {background-color: @purple;}
    &--orange:before {background-color: @orange;}
    &--red:before {background-color: @red;}


    &--icon {
      position: relative;
      font-weight: 600;
      font-size: 16px;
      text-transform: lowercase;
      margin-bottom: 30px;
      
      padding-left: 70px;
      line-height: 30px;
      height: 35px;
      
      max-width: 310px;
      
      &:before {
        content: '';
        position: absolute;

        left: 0;
        top: 0;
        bottom: 0;
        margin:auto;

        width: 35px;
        height: 35px; 

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

      }
    }
    &--fresh:before {background-image: url('../img/icon-fresh.png');}
    &--detail:before {background-image: url('../img/icon-detail.png');}
    &--nsew:before {background-image: url('../img/icon-nsew.png');}
    &--percent:before {background-image: url('../img/icon-percent.png');}

    
    &--white {
      color:@white;
      padding-left: 15px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;

        background-color: @white;
        border-radius: 50%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

    }

    &--fluger {
      display: inline-block;

      
      position: relative;
      margin-right: 25px;
      &:before {
        content: '';
        position: absolute;

        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

      }
    }

    &--fluger-purple {
      line-height: 60px;
      padding-left: 70px;
      &:before {
        background-image: url('../img/fluger-purple.png');
        width: 60px;
        height: 60px;
      }
    }
    &--fluger-red {
      line-height: 50px;
      padding-left: 60px;
      &:before {
        background-image: url('../img/fluger-red.png');
        width: 50px;
        height: 50px;
      }
    }
    &--fluger-orange {
      line-height: 40px;
      padding-left: 50px;
      &:before {
        background-image: url('../img/fluger-orange.png');
        width: 40px;
        height: 40px;
      }
    }
    
  }
}


.table {
  &__row {
    display: flex;
    justify-content: space-between;


    &--blue { background-color: @blue; }
    &--yellow { background-color: @yellow; }
    &--orange { background-color: @orange; }
    &--red { background-color: @red; }
    &--purple { background-color: @purple; }
    &--green { background-color: @green; }
    &--tomato { background-color: @tomato; }

    &--bb {
      border-bottom: 1px solid @black;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70px;
    width: 25%;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__title {
    padding-left: 120px;
    position: relative;
    color:@white;
    font-size: 18px;
    max-width: 240px;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      left: 40px;
      top: 0;
      bottom: 0;
      margin: auto;

      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--fish:before { background-image: url('../img/icon-fish.png');}
    &--crack:before { background-image: url('../img/icon-crack.png');}
    &--nut:before { background-image: url('../img/icon-nut.png');}
    &--meat:before { background-image: url('../img/icon-meat.png');}
    &--crisp:before { background-image: url('../img/icon-crisp.png');}
    &--cheese:before { background-image: url('../img/icon-cheese.png');}
    &--caviar:before { background-image: url('../img/icon-caviar.png');}
  }
}

.footer {
  position: relative;
  padding: 50px 0;
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: @yellow;
  }
  
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: @blue;
  }
  
  &__left,&__right {
    width: 50%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left {
    background-color: @yellow;
  }
  &__right {
    background-color: @blue;
    padding-left: 50px;
  }
} 

.overlay {
  position: fixed; 
  overflow-y: scroll;
  top: 0; left: 0; top: 0; bottom: 0;

  transition: opacity 0.3s ease, z-index 0s 1s;
  width: 100vw;
  z-index: -1; 
  opacity: 0;  
  
  background:  rgba(200,200,200, .4);
  padding: 120px 0;

  &--active {
    transition: opacity 1s;
    width: 100%; 
    z-index: 101;  
    opacity: 1; 
  }
  
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background-image: url('../img/icon-close.png');
    background-position: center;
    background-size: contain;
    
    cursor: pointer;
    transition:transform 0.3s ease;

    &:hover {
      transform: rotateZ(180deg);
    }

    &--form {
      right: 10px;
      top: 10px;
    }
  }
}

.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
  .noscroll { 
      padding-right: 15px;
  }
}

.popup {
  position: relative;
  width: 900px;
  padding: 15px;
  left: 0;
  right: 0;
  margin: auto;
  
  background-color: @white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__row {
    display: flex;
    margin-bottom: 30px;
  }
  &__image, &__desc {
    width: 50%;
  }

  &__desc {
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 45px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__storage {
    margin-bottom: 45px;
  }

  .product__params {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.params {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0 25px;
    &:nth-child(2n+1) {
      background-color: @lightblue;
    }
  }

  &__cell {
    height: 35px;
    line-height: 35px;
  }
}
